* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.container {
  width: 85%;
  margin: 0 auto;
}
.btn_primary {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  padding: 18px 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn_primary:hover {
  color: #469165;
  background-color: #f7f6f2;
  transition: 0.3s;
}
#btn_primary_border:hover {
  border: 1px solid #469165;
}

#brain_structure,
#early_access,
footer {
  margin-top: 120px;
}
/* nav styles */
nav {
  background-color: #f7f6f2;
  padding: 16px 0;
  position: sticky;
  top: 0 !important;
}
nav #nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav #nav_container #logo img {
  max-width: 139px;
}
nav #nav_container #nav_menu {
  display: flex;
  gap: 35px;
}
nav #nav_container #nav_menu li {
  list-style: none;
}
nav #nav_container #nav_menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  border-bottom: 2px solid #b83930;
  padding-bottom: 6px;
  line-height: 125%;
}
nav #nav_container .nav_btn {
  padding: 12.5px 16px;
}

/* hero section styles */
#hero_container {
  background: url("../assets/hero-bg.png");
  /* background-image: linear-gradient(to top, rgba(0, 25, 49, 0.1)); */
  background-size: cover;
  background-repeat: no-repeat;
}
#hero_content {
  text-align: center;
  padding: 190px 110px;
}
#hero_container #hero_content #early_access_btn {
  color: #469165;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 50px;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}
#hero_container #hero_content #early_access_btn i {
  font-size: 10px;
  position: relative;
  top: -2px;
}
#hero_container #hero_content #early_access_btn:hover {
  background-color: #30b868;
  color: #ffffff;
  transition: 0.3s;
}
#hero_container #hero_content #early_access_btn:hover i {
  font-size: 12px;
}
#hero_container #hero_content h1 {
  font-size: 72px;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 84px;
  margin-bottom: 16px;
}
#hero_container #hero_content h1 #text-green {
  color: #30b868;
}
#hero_container #hero_content p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  margin-bottom: 32px;
}

#hero_content #btn_transparent {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 16px 40px;
  border-radius: 4px;
  cursor: pointer;
}
#hero_content #btn_transparent:hover {
  background-color: #469165;
  color: #ffffff;
  transform: 0.3s;
}
#hero_content #btn_transparent i {
  position: relative;
  right: 10px;
  background-color: transparent;
}
/* notes ans structure styles  */
#notes_structure {
  padding-top: 50px;
  background-color: rgba(247, 246, 242, 0.55);
}
#notes_structure #notes_structure_container #contents {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 44px;
}
#notes_structure #notes_structure_container #contents h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#notes_structure #notes_structure_container #contents p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
}
#notes_structure_container #note_cards {
  text-align: center;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
#notes_structure_container #note_cards .note_card {
  max-width: 350px;
  height: 260px;
  background-color: #ffffff;
  padding: 70px 18px 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
#notes_structure_container #note_cards .note_card img {
  max-width: 60px;
  margin-bottom: 16px;
}
#notes_structure_container #note_cards .note_card h3 {
  font-size: 23px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
#notes_structure_container #note_cards .note_card p {
  font-size: 16px;
  font-weight: 500;
  color: #627382;
  line-height: 20px;
}

/* brain structure styles */

#brain_structure #brain_structure_container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 100px;
}
#brain_structure #brain_structure_container img {
  max-width: 600px;
}
#brain_structure_contents {
  max-width: 700px;
}
#brain_structure_contents .sub_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #469165;
  margin-bottom: 16px;
}
#brain_structure_contents h3 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#brain_structure_contents .paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}

#brain_structure_contents #list_menu li {
  list-style: none;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #001931;
}
#list_menu li img {
  position: relative;
  top: 5px;
}

/* early access styles */
#early_access_container {
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 40px;
}
#early_access_container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#early_access_container p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 24px;
  line-height: 24px;
}
#early_access_container div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
}

#early_access_container div p i {
  position: relative;
  top: -5px;
  font-size: 7px;
}

/* footer styles */
#footer_container {
  background-color: #001931;
}
#footer_container hr {
  color: #e5e7eb;
  opacity: 20%;
}
footer #copyright_message {
  text-align: center;
  padding: 30px 0;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px;
}
#footer_content .footer_logo img {
  max-width: 139px;
}
#footer_content .social_icons p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.social_icons {
  margin-right: 110px;
}
.social_icons .social_media i {
  color: white;
  margin-right: 15px;
}
