* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.container {
  width: 85%;
  margin: 0 auto;
}
.btn_primary {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#btn_transparent {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#brain_structure,
#early_access {
  margin-top: 120px;
}

/* nav styles */
nav {
  padding: 16px 0;
}
nav #nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 5px;
}
nav #nav_container #logo img {
  max-width: 139px;
}
nav #nav_container #nav_menu {
  display: flex;
  gap: 35px;
}
nav #nav_container #nav_menu li {
  list-style: none;
}
nav #nav_container #nav_menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 125%;
}

/* hero section styles */
#hero_container {
  background: url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero_content {
  text-align: center;
  padding: 115px 120px 179px 120px;
}
#hero_container #hero_content #early_access_btn {
  color: #469165;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 50px;
  margin-bottom: 24px;
}
#hero_container #hero_content h1 {
  font-size: 72px;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 84px;
  margin-bottom: 16px;
}
#hero_container #hero_content h1 #text-green {
  color: #30b868;
}
#hero_container #hero_content p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  margin-bottom: 32px;
}

/* notes ans structure styles  */
#notes_structure {
  padding-top: 50px;
  background-color: rgba(98, 115, 130, 0.03);
}
#notes_structure #notes_structure_container #contents {
  text-align: center;
  margin-bottom: 44px;
}
#notes_structure_container #contents h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#notes_structure_container #contents p {
  font-size: 16px;
  font-weight: 500;
  color: #627382;
  line-height: 20px;
}
#notes_structure_container #note_cards {
  text-align: center;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#note_cards .note_card {
  max-width: 274px;
  background-color: #ffffff;
  padding: 24px;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
#note_cards .note_card img {
  max-width: 60px;
  margin-bottom: 16px;
}
#note_cards .note_card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}

/* brain structure styles */

#brain_structure #brain_structure_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#brain_structure_contents .sub_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #469165;
  margin-bottom: 16px;
}
#brain_structure_contents h3 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#brain_structure_contents .paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}

#brain_structure_contents #list_menu li {
  list-style: none;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #001931;
}
#list_menu li img {
  position: relative;
  top: 5px;
}

/* early access styles */
#early_access_container {
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 40px;
}
#early_access_container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#early_access_container p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 24px;
  line-height: 24px;
}
#early_access_container div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
}

#early_access_container div p i {
  position: relative;
  top: -5px;
  font-size: 7px;
}
